
.site-branding {
  display: flex !important;

}
.site-title {
  a, a:hover, a:visited{
    text-decoration: none;
    color: navajowhite;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    //line-height: 1.5;
    padding: 1rem 1rem 1rem 2rem;
  }
}
.front-container {
  min-height: 90vh;
}

.x {
  display: none;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
 -webkit-mask-image: linear-gradient(white 0%, white 30%, transparent 80%, transparent);
 mask-image: radial-gradient(white 0%, white 30%, transparent 80%, transparent);

/* -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126,213,111,0.8)), to(rgba(40,180,133,0.8)));
mask-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)); */
}

.theme-left-container, .theme-right-container, .plugin-left-container, .plugin-right-container  {
  position: absolute;
  transform: translateX(-10vh);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.82,-0.04, 0.53, 1.49);
          animation-timing-function: cubic-bezier(0.82,-0.04, 0.53, 1.49);
}
.theme-left-container .theme-left, .theme-right-container .theme-right, .plugin-left-container .plugin-left, .plugin-right-container .plugin-right  {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  /* background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%); */

  -webkit-animation: scale-frames 8s infinite;
          animation: scale-frames 8s infinite;
}


@-webkit-keyframes scale-frames {
  0% {
    transform: scale3d(0.2, 0.2, 1) rotateZ(30deg);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1) rotateZ(60deg);
  }
  100% {
    transform: scale3d(0.2, 0.2, 1) rotateZ(90deg);
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.2, 0.2, 1) rotateZ(30deg);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1) rotateZ(60deg);
  }
  100% {
    transform: scale3d(0.2, 0.2, 1) rotateZ(90deg);
  }
}

.theme-left-container {
  width: 28px;
  height: 28px;
  -webkit-animation-name: move-frames-1;
          animation-name: move-frames-1;
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;

}
@-webkit-keyframes move-frames-1 {
  from {
    transform: translate3d(25vw, 50vh, 0);
  }
  to {
    transform: translate3d(70vw, 70vh, 0);
  }
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(25vw, 50vh, 0);
  }
  to {
    transform: translate3d(70vw, 70vh, 0);
  }
}

.theme-right-container {
  width: 28px;
  height: 28px;
  -webkit-animation-name: move-frames-2;
          animation-name: move-frames-2;
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;

}
@-webkit-keyframes move-frames-2 {
  from {
    transform: translate3d(96vw, 102vh, 0);
  }
  to {
    transform: translate3d(24vw, -108vh, 0);
  }
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(65vw, 15vh, 0);
  }
  to {
    transform: translate3d(31vw, 72vh, 0);
  }
}

.plugin-left-container {
  width: 28px;
  height: 28px;
  -webkit-animation-name: move-frames-3;
          animation-name: move-frames-3;
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;

}
@-webkit-keyframes move-frames-3 {
  from {
    transform: translate3d(29vw, 18vh, 0);
  }
  to {
    transform: translate3d(67vw, 75vh, 0);
  }
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(29vw, 18vh, 0);
  }
  to {
    transform: translate3d(67vw, 75vh, 0);
  }
}
.plugin-right-container {
  width: 28px;
  height: 28px;
  -webkit-animation-name: move-frames-4;
          animation-name: move-frames-4;
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}

@-webkit-keyframes move-frames-4 {
  from {
    transform: translate3d(67vw, 75vh, 0);
  }
  to {
    transform: translate3d(29vw, 29vh, 0);
  }
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(67vw, 75vh, 0);
  }
  to {
    transform: translate3d(29vw, 29vh, 0);
  }
}
