.site-footer {

  &-landing{
  //  padding: 2px 0 0 2rem;
    position: absolute;
    bottom: 0;

    width: 100%;
    color: navajowhite;

    &:hover > a, & > a {
      color: navajowhite;

    }

    a, {
      color: navajowhite;
      text-decoration: none;
    }
  }

  width: 100%;

  color: navajowhite;
  &:hover > a, & > a {
    color: navajowhite;

  }

  a {
    color: navajowhite;
    text-decoration: none;
  }
}
.wpe-footer {
  display: flex;


  ul, li {
    display: flex;
    list-style: none;
    //max-height: 1rem;
    padding-left: 1rem;
  }
}
.sep {
  padding: 0 1rem 0 1rem;
}
