.wpe-contact-entry-content {
    padding: 10rem 10rem 0 10rem;
    //background-color: navajowhite;
   // min-height: 60vh;
   width: 70%;
   margin: auto;
   color: navajowhite;
   font-family: monospace;

   p {
       //font-size: px;
   }

   input, textarea {
       background-color: whitesmoke;
       //color: whitesmoke;
       width: 19rem;
   }

   input[type=submit] {
       width: 10rem;
       font-family: monospace;
       font-weight: 700;
   }

   textarea {
       resize: none;
   }
}
