.wpe-contact-entry-content {
    padding: 10rem 10rem 0 10rem;
    //background-color: navajowhite;
   // min-height: 60vh;
   width: 70%;
   margin: auto;
}
.wpe-contact-message, .wpe-contact-form {
    font-size: x-large;
    font-family: monospace;
    color: navajowhite;
}
.wpe-contact-form { 
    width: 100%;
}
.wpe-contact-form-container {
    overflow: hidden;
    background-color: gray;
    padding: 1rem;
}